<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <!-- DataTales Example -->
    <div class="row">
        <% items.imageId.forEach(item => { %>
        <div class="col-md-4">
            <div class="card shadow mb-4">
              <div class="card-body">
                 <img src="http://localhost:3001/<%= item.imageUrl %>" alt=""  width="100%">
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <a href="/admin/item" class="btn btn-warning">Back</a>
  </div>
    